# Since .env is gitignored, you can use .env-example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly


##
# The NEXT_PUBLIC_ prefix automatically exposes this variable to the browser.
##

# Prisma
export DATABASE_URL=postgresql://postgres:PostgresEasyTag!@localhost:5433/postgres?sslmode=disable

# Next Auth
# You can generate the secret via 'openssl rand -base64 32' on Linux
# More info: https://next-auth.js.org/configuration/options#secret
export NEXTAUTH_SECRET=jptOpHcSlAuwOwefasgA+ZonQ2spqODmXGn4h9gZZVARxY/Vb20q4HjGX6XSSlxRifKqgAd+rp6PqV0dglk54UPosP2DdmTcz4vAP0YzlyR397kJUUsj/Piquxs5qG2ron9mKbb1CreECq0jtvC22QDhnr2caVImD15LZ88nLsfiQPJ8VAxYUaO2rbFCU05sgyLxsOsZ2QjBzR0gVSwV42jDVtDopeLSZKGhhQ==
export NEXTAUTH_URL=http://localhost:3000/
export NEXTAUTH_COOKIE="next-auth.session-token"
export DISCORD_CLIENT_ID=
export DISCORD_CLIENT_SECRET=
export API_URL=http://localhost:8080/
export API_KEY=""

export GOOGLE_CLIENT_ID=952225079530-hrr8pmm44j9o6a9fqqnfh1g7fdjkn75a.apps.googleusercontent.com
export GOOGLE_CLIENT_SECRET=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
export AZURE_CLIENT_ID=Required
export AZURE_CLIENT_SECRET=Required
export AZURE_TENANT_ID=Required

# Stripe
export NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_12345
export STRIPE_SECRET_KEY=sk_test_51Mz2coIJ9u9L1Wwddp1xJWlUsmkQCYV94Kvqm7Ok7QMOLcAwNCWU2AOmKuGbnXxaBbOvQ4KwjWZkNccq0M5T8gYj00Hmfi0s4X
export STRIPE_WEBHOOK_SECRET=whsec_60d459764208b9c5b1b349ddef68cf49d90faba4f720cf9967f99c07c08ed315
export PAYMENTS_SUCCESS_URL=http://localhost:3000/

# Cloudfare
export CLOUDFLARE_API_TOKEN=VXGCJ0UcUmfxm1yWEpRBFAeV7XBk61sA95yJuv7A
export CLOUDFLARE_ACCOUNT_ID=f8aea8a6e5e707a3e6d6d6402b5ae6ec

