# Since .env is gitignored, you can use .env-example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly


##
# The NEXT_PUBLIC_ prefix automatically exposes this variable to the browser.
##

# Prisma
export DATABASE_URL=postgresql://postgres:PostgresEasyTag!@localhost:5432/postgres?sslmode=disable

# Next Auth
# You can generate the secret via 'openssl rand -base64 32' on Linux
# More info: https://next-auth.js.org/configuration/options#secret
export NEXTAUTH_SECRET=123456
export NEXTAUTH_URL=http://localhost:3000
export DISCORD_CLIENT_ID=
export DISCORD_CLIENT_SECRET=

export GOOGLE_CLIENT_ID=952225079530-hrr8pmm44j9o6a9fqqnfh1g7fdjkn75a.apps.googleusercontent.com
export GOOGLE_CLIENT_SECRET=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
export AZURE_CLIENT_ID=Required
export AZURE_CLIENT_SECRET=Required
export AZURE_TENANT_ID=Required

# Stripe keys
export NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_12345
export STRIPE_SECRET_KEY=sk_test_51Mz2coIJ9u9L1Wwddp1xJWlUsmkQCYV94Kvqm7Ok7QMOLcAwNCWU2AOmKuGbnXxaBbOvQ4KwjWZkNccq0M5T8gYj00Hmfi0s4X
export STRIPE_WEBHOOK_SECRET=whsec_60d459764208b9c5b1b349ddef68cf49d90faba4f720cf9967f99c07c08ed315