# Since .env is gitignored, you can use .env-example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# Prisma
export DATABASE_URL=postgresql://postgres:PostgresEasyTag!@localhost:5432/postgres?sslmode=disable

# Next Auth
# You can generate the secret via 'openssl rand -base64 32' on Linux
# More info: https://next-auth.js.org/configuration/options#secret
export NEXTAUTH_SECRET=123456
export NEXTAUTH_URL=http://localhost:3000
export DISCORD_CLIENT_ID=
export DISCORD_CLIENT_SECRET=

export GOOGLE_CLIENT_ID=952225079530-hrr8pmm44j9o6a9fqqnfh1g7fdjkn75a.apps.googleusercontent.com
export GOOGLE_CLIENT_SECRET=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
export AZURE_CLIENT_ID=Required
export AZURE_CLIENT_SECRET=Required
export AZURE_TENANT_ID=Required